{% extends "base.html" %} {% block mainbody %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!--overview start-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header"><i class="icon_images"></i> 农业智能决策 </h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                        <li><i class="icon_images"></i>农业智能决策</li>
                    </ol>
                </div>
            </div>

            <div class="row">
            <div class="col-md-3">
                <section class="panel panel-default">
                    <header class="panel-heading">
                        拍照上传 :
                    </header>
                    <div class="panel-body">
                        <a href="#" class="thumbnail">
                        <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3609425762,3785710816&fm=26&gp=0.jpg"  height="100%" width="100%">
                        </a>
                        <input type="file"/>
                    </div>

                </section>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        匹配实体 :
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" class="thumbnail">
                                <img src="http://a3.att.hudong.com/41/32/20300542749023141146324142614_s.jpg" height="100%" width="100%"/>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <h2>葡萄</h2>
                            </div>
                        </div>


                        其它匹配结果：
                        <div class="row">
                            <div class="col-md-5">
                                <a href="#" class="thumbnail">
                                <img src="http://a0.att.hudong.com/21/34/20300542815688143373344613220_s.jpg" height="100%" width="100%"/>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <h4>玫瑰香</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <a href="#" class="thumbnail">
                                <img src="http://a2.att.hudong.com/48/34/20300542749023141163340249431_s.jpg" height="100%" width="100%"/>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <h4>巨峰葡萄</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <a href="#" class="thumbnail">
                                <img src="http://a0.att.hudong.com/85/34/20300543547369144661348886113_s.jpg" height="100%" width="100%"/>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <h4>龙眼葡萄</h4>
                            </div>
                        </div>


                    </div>
                </section>
            </div>
            <div class="col-md-9">
                <section class="panel panel-default">
                    <header class="panel-heading">
                         农业方案：
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h1 > 葡萄 <small>[植物]</small></h1>
                            </div>
                            <div class="col-md-9">
葡萄（学名：Vitis vinifera L.）为葡萄科葡萄属木质藤本植物，小枝圆柱形，有纵棱纹，无毛或被稀疏柔毛，叶卵圆形，圆锥花序密集或疏散，基部分枝发达，果实球形或椭圆形，花期4-5月，果期8-9月。葡萄是世界最古老的果树树种之一，葡萄的植物化石发现于第三纪地层中，说明当时已遍布于欧、亚及格陵兰...
                                <a href="detail.html?title=葡萄"> [查看详细] </a>
                            </div>
                        </div>

                        <!--collapse start-->
            <div class="panel-group m-bot20" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    [基本概述]
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            【科属】为葡萄科植物葡萄的成熟果实。落叶木质藤本，长12-20米；树皮长片状剥落，幼枝光滑。叶互生，近圆形，长7-15厘米，宽6-14厘米，3-5裂，基部心形，两侧靠拢，边缘粗齿。圆锥花序，花小，黄绿色。花后结浆果，果椭球形，圆球形。著名水果，亦为酿酒制干果的原料。
<br/>【特点】葡萄粒大、色艳、肉厚、味甜。葡萄有龙眼、黑鸡心、瓶儿、牛奶、驴奶、西营葡萄、白玛瑙、黑玛瑙、紫玫瑰、白鸡心等品种，引入的品种有粉红太妃、卡拉斯玫瑰、保尔加尔、葡萄园皇后、玫瑰香、无核黑、巨峰、零丹等。
<br/>【成熟期】7月——10月
<br/>【性味归经】 性平，味甘酸；入肺、脾、肾经。热量为每100克47卡
<br/>葡萄属葡萄科植物葡萄的果实，为落叶藤本植物，是世界最古老的植物之一。葡萄原产于欧洲、西亚和北非一带。据考古资料，最早栽培葡萄的地区是小亚细亚里海和黑海之间及其南岸地区。大约在7000年以前，南高加索、中亚细亚、叙利亚、伊拉克等地区也开始了葡萄的栽培。多数历史学家认为波斯（即今日伊朗）是最早酿造葡萄酒的国家。欧洲最早开始种植葡萄并进行葡萄酒酿造的国家是希腊。在我国长江流域以北各地均有产，主要产于新疆、甘肃、山西、河北、山东等地。茎蔓长达10～20米。单叶，互生。花小，黄绿色，组成圆锥花序。浆果圆形或椭圆形，因品种不同，有白、青、红、紫、黑等不同果色。果熟期8～10月，中国栽培葡萄已有2000多年历史，相传葡萄为汉代人张骞引入。
<br/>与提子的区别
<br/>葡萄与提子实质上都是葡萄的果实。只是在商品流通过程中，港、沪等地的市场通常将粒大、皮厚、汁少、优质、皮肉难分离、耐贮运的欧亚种葡萄称为提子，又根据色泽不同，称鲜红色的为红提，紫黑色的为黑提，黄绿色的为青提。而将粒大、质软、汁多、易剥皮的果实称为葡萄，因而形成了两种名称。一般进口的葡萄均为提子类。
用手一捏，葡萄皮和肉容易分离；而红提皮比较薄，皮和肉很难分开。从外形上看，提子同葡萄的褐红程度也不一样，红提呈深红色，果形一致，大小均匀，一般都是整串的，很难散落，拿在手里较硬。而且，红提的口感脆甜，存放的时间较长，通常条件下(不采取任何措施)，能保存15天左右。
近年，一切进口的硬肉型葡萄都被叫成“提子”，一些果农不讲地域差异，不辨品质优劣，抢着发展；他们还偏爱外国品种，轻视国内良种。
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    [生长条件]
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            地形条件
<br/>1、纬度和海拔：世界上大部分葡萄园分布在北纬20-52度之间及南纬30-45度之间，绝大部分在北半球。海拔高度一般在400-600米。中国葡萄多在北纬30-43度之间海拔的变化较大，约200-1000米，河北怀来葡萄分布高度达1100米，山西清徐达1200米，西藏山南地区达1500米以上。纬度和海拔是在大范围内影响温度和热量的重要因素。　 　　
<br/>2、坡向和坡度：在大地形条件相似情况下，不同坡向的小气候有明显差异。通常以南向（包括正南向、西北向和东南向）的坡地受光热较多，平日气温较高。坡地的增温效应与其坡度密切相关。一般坡地向南每倾斜1度，相当于推进1纬度。受热最多的坡地角度约为20-35度（在北纬40-50度范围）。葡萄因较耐干旱和土壤瘠薄，可以在相对不大范围内发育根系，所以比其它果树更适宜在坡地上栽培，然而坡度越大水土流失越严重，因此，在种植葡萄时应优先考虑坡度在20-25度以下的土地。　 　　
<br/>3、水面的影响： 海洋、湖泊、江河、水库等大的水域，由于吸收的太阳辐射能量多，热容量较大，白天和夏季的温度比陆地低，而夜间和冬季的温度比内陆高。因此，临近水域沿岸的气候比较温和，无霜期较长。临近大水面的葡萄园由于深水反射出大量的蓝紫光和紫外线，浆果着色和品质好，所以选择葡萄园时尽量靠近大的湖泊、河流与海洋的地方。
<br/>土壤条件
<br/>葡萄可以生长在各种各样的土壤上，如沙荒、河滩、盐碱地、山石坡地等，但是不同的土壤条件对葡萄的生长和结果有不同的影响。 　　
<br/>1、成土母岩及土心 ：在石灰岩生成的土壤或心土富含石灰质的土壤上，葡萄根系发育强大，糖分积累和芳香物质发育较多，土壤的钙质对葡萄酒的品质有良好的影响。世界上著名的酿酒产区正是在这种土壤上，如香槟地区和夏朗得—科涅克地区等。但土层较薄且其下常有成片得砾石层，容易造成漏水漏肥。
<br/>2、土层厚度和机械组成 ：葡萄园的土层厚度一般以80-100㎝以上为宜。沙质土壤的通透性强，夏季辐射强，土壤温差大，葡萄的含糖量高，风味好，但土壤有机质缺乏，保水保肥力差。粘土的通透性差，易板结，葡萄根系浅，生产弱，结果差，有时产量虽大但质量差，一般应避免在重粘土上种植葡萄。在砾石土壤上可以种植优质的葡萄，如新疆土鲁番盆地的砾质戈壁土（石砾和沙子达80%以上），经过改良后，葡萄生长很好。　 　　
<br/>3、地下水位：在湿润的土壤上葡萄生长和结果良好。地下水位高低对土壤湿度有影响，地下水位很低的土壤蓄水能力较差；地下水位高、离地面很近的土壤，不适合种植葡萄。比较适合的地下水位应在1.5-2米以下。在排水良好的情况下，在地下水位离地面0.7-1米的土壤上，葡萄也能良好生长和结果。　 　　
<br/>4、土壤化学成分：对葡萄植株营养有很大意义。一般在PH为6—6.5的微酸性环境中，葡萄的生长结果较好。在酸性过大（pH接近4）的土壤中，生长显著不良，在比较强的碱性土壤（pH为8.3-8.7）上，开始出现黄叶病。因此酸度过大或过小的土壤需要改良后才能种植葡萄。此外，葡萄在果树中，是属于较抗盐的植物，在苹果、梨等果树不能生长的地方，葡萄能生长的很好。
<br/>气候因素
<br/>是葡萄品种区域化的主要指标。法国人认为，只有在某种特定的土壤中栽培的葡萄，才能酿造出具有特殊风味的世界名酒。但对世界广阔的葡萄产区来讲，这种以土壤进行葡萄区划的情况、不具有普遍性和绝对性。影响葡萄品质和葡萄酒质量的因素是综合性的．仅在多数情况下，往往是气候对葡萄的生长、结果和葡萄酒的优劣起主导作用，气候因素已成为诸多因素中最重要、最活跃的因素。光照、量度、降水等天气条件都是葡萄生长和结果所必需的，特别是夏秋季的天气状况。　 　　
<br/>1、光照： 太阳能是葡萄进行光合作用唯一的能源．是葡萄进行能量和物质循环的动力，葡萄产量和品质的90％—95％来源于光合作用。真正消耗于光合作用的太阳能在许多情况下，还没有达到太阳总能量的1％。在我国一般葡萄园太阳能的利用率仅为0.5％左右。 葡萄是喜光作物，几千年来人们为它搭架和整形修剪，以便使它获得更充足和合理的光照。　 　　
<br/>2、温度：温度（热量）是影响葡萄生长和结果最重要的气象因素。葡萄属暖温带植物，要求相当多的热量。葡萄生长期 (从明芽至桨果成熟)需要的月平均气温在10度以上的活动积温、因品种不同而存在差异。温度对葡萄生长、结果的进程也产生重要影响。高温能对葡萄造成危害，但程度远远不如低温，低温对葡萄的伤害是世界葡萄栽培中常遇到的问题、低温限制了葡萄的栽培区域。葡萄一般栽培在北半球北纬20—51℃之间。欧洲葡萄品种的栽培北限是德国的莱茵河流域，栽培的南界伸展到了印度。在南半球、葡萄主要栽培于南纬20—40℃之间。欧洲葡萄的种植范围朝赤道方向扩展的限制因素是高温、病害和缺乏足够的低温诱发葡萄的休眠。欧洲葡萄向两极方向扩展的主要限制因素是生长季节短、不足以保证果实和枝蔓成熟以及抵御冬季低温。
<br/>3、降水：降水的多寡和季节分配，强烈地影响着葡萄的生长和发育，影响着葡萄的产量和品质。在某些地区，对某些栽培品种、降水量季节性的变化是葡萄品种区域化的最重要的气候因素之一。降水量季节性的变化，因世界不同的气候类型．而表现出显著的差异。地中海气候的降水量季节分配的特点是：夏秋干旱．冬春多雨。而我国主要葡萄栽培区的气候为季风气候(除新疆外)，夏季高温多雨，南方春季阴雨天气更加重了葡萄栽培的难度。除新疆外，对葡萄不利，水分胁迫现象对葡萄表现十分显著。
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    [庭院种植]
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    [根系养护养]
                        </a>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    [病虫害防治]
                        </a>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            白腐病
<br/>症状识别
<br/>危害果实、早穗、枝蔓及叶片；其中穗 轴是最容易感染的部位。果穗发病先从距地面较近的果穗梗或小果开始。病部出现浅褐色水渍状病斑。以后逐渐向穗下及果粒蔓延。料及整个果穗，悬于蔓上，不易脱落，许多灰白色突起小点，逐渐由浅 褐色变成深褐色，软腐果极易脱落。但也有干缩成僵果，并有明显棱角，悬于蔓上，不易脱落。当雨后天气潮湿时，从病果粒点中流出黑色粘液。
<br/>防治措施
<br/>⑴ 此病防治关键时期是花后和 中旬至8月中旬雨季喷药重点保护果穗。可喷1000×50%多菌灵、800×50%退菌特或1：0.5：180倍波尔多液。 每隔10～15天喷1次，共喷3～4次（喷药时加6501粘着剂或洗衣粉）。
<br/>⑵ 实践证明，彻底剪除病枝，刮掉老皮，及时摘除病果、病叶、病蔓。消灭病源茵，也是减少发病的重要措施。
<br/>⑶ 生长期对下部果进行绑吊，保证果穗距离地面20～30 厘米以上，也可减少发病。
<br/>黑痘病
<br/>症状识别
<br/>危害果实、果梗、叶片及新梢。幼叶染病后出现多角形病斑，叶脉受病部分停止生长，造成叶片邹缩以至畸形。叶 片受病时，在主脉上生有淡黄色逐渐变成灰白色病斑，病叶干枯并 穿孔。幼果受病出现褐色病斑，以后中间变成灰白色、稍凹陷、边缘红色或紫色，呈“鸟眼状”，后期病斑龟裂，病果小而酸。有时穗轴发病，造成全穗发育不良，甚至枯死。
<br/>防治措施
<br/>⑴ 此病防治关键是抓住开花前和落叶两次药。喷1：0.5：180倍波尔多液或800×50%退菌特或600×75%百菌清。
<br/>⑵ 发芽前喷5度石硫剂。
<br/>⑶ 冬剪时彻底剪除病蔓，清除枯枝落叶。
<br/>霜霉病
<br/>症状识别
<br/>主要危害叶片、新梢，幼果也可发病。叶片发病时，正面出现半透明水渍状不规则病斑，呈淡绿色或淡黄色，病斑最后变成黄褐色或红 褐色而干枯。邻近病斑相连成多角形大斑。与此同时，叶背长出灰白色霜霉状物。嫩梢被害后生长停滞、扭曲甚 至枯死。幼果感病时，果面上发生灰白色霜霉，生长停止、裂果或脱落。
<br/>防治措施
<br/>⑴ 发病初期到盛期，每间隔半月喷1次1：0.5：180倍波尔多液。或1000×25%瑞毒霉或250×40%已磷铝。
<br/>⑵ 清除果园枯枝落叶，集中烧毁。
<br/>炭疽病
<br/>症状识别
<br/>主要危害着色后的果粒。靠近地 面的果穗先端最早发病。果实染病后表面发生灰紫色块斑，并逐渐成为中部色深边缘浅、有轮纹的病斑。以后病斑中隐约可见少数黑色小粒点。随病扩大，小黑粒点不断增多，并排列成背纹状。当于气潮湿后，从 小黑点涌出粉红色粘胶状物。病果粒很快全部软腐，最后变为僵果，易于脱落。
<br/>防治方法
<br/>⑴ 7～8月为发病高峰，每隔半月喷1次1：0.5：180倍波尔多液或500×50%退菌特（用药时要加6501粘着剂或洗衣粉）。
<br/>⑵ 采收前发现病果及时摘除深埋：采收后清理枝蔓上病果深埋。

                        </div>
                    </div>
                </div>

            </div>
            <!--collapse end-->
                    </div>
                </section>
            </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}